<% provide(:title, 'API') %>

<div class="page-header">
	<h1 class="title">API</h1>
	<div class="clearfix"></div>
</div>
	

<p>
	The IoT-Framework service is built to use a restful API to communicate with the backend. This means that you can talk directly to the API if you want to build your own front-end for it. <br>
	For now, all information about how to use our API van be found at our <a href="https://github.com/projectcs13/sensor-cloud/wiki/API">GitHub wiki</a>.
</p>
