<% provide(:title, 'Contact') %>
<div class="page-header">
	<h1 class="title">Contact</h1>
	<div class="clearfix"></div>
</div>

<p>
  Contact ProjectCS2013 about the sensor cloud app at the
  <a href="#">contact page</a>.
</p>
