<% provide(:title, 'FAQ') %>

<div class="page-header">
	<h1 class="title">FAQ</h1>
	<div class="clearfix"></div>
</div>
	

<p>
	Since the service is not yet considered "live", this page has a low priority. Most questions are hopefully answered on the <a href="https://github.com/projectcs13/sensor-cloud/wiki">GitHub wiki</a>.
</p>