<% provide(:title, 'faq') %>
<h1>FAQ</h1>
<p>Frequently Asked Questions and other general knowledge information will be posted here.</p>
<dl>
	<dt><p>Q: Write your question here ?</p></dt>
	<dd><p>A: Write your answer here.</p></dd>
	<dt><p>Q: Write your question here ?</p></dt>
	<dd><p>A: Write your answer here.</p></dd>
	<dt><p>Q: Write your question here ?</p></dt>
	<dd><p>A: Write your answer here.</p></dd>
	<dt><p>Q: Write your question here ?</p></dt>
	<dd><p>A: Write your answer here.</p></dd>
</dl>