<div class="center jumbotron">
	<%= link_to image_tag("logos/sensorcloud.png", alt: "Brand Logo"), 'https://github.com/projectcs13' %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  	<form class="form-search form-inline" role="search" action="search" method="get"> 
		        <input name="search" type="text" class="form-control" placeholder="Temperature in Uppsala..." />
		        <button type="submit" class="btn btn-primary">Search</button>
		    </form>
		</div>
	</div>
</div>
