<div class="center jumbotron">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-11">

				<%= form_for(:search, url: searches_path) do |f| %>
					<%= f.text_field :query, class: "form-control input-lg", 
								placeholder: "Example: Temperature in Uppsala" %>
					<%= f.hidden_field :sort_by, :value => "none" %>

			</div>
			<div class="col-md-1">

					<%= f.submit "Search", class: "btn btn-lg btn-primary" %>
				<% end %>	

			</div>
		</div>
	</div>
</div>
