<% provide(:title, 'Manual') %>

<div class="page-header">
	<h1 class="title">Manual</h1>
	<div class="clearfix"></div>
</div>

<p>

	<div>
		<h2 class="title">Basic features of the service</h1>
		<div class="clearfix"></div>
	</div>

	The primary feature of the IoT-Framework service is to search for data streams. A data stream is a series of datapoints aquired over time. For example, you are likely to find streams with temperature information, including the history of the stream. Streams get their data from resources, which are not searchable. In order to publish and manage your own streams, you need to be a registered user. You can find the register link in the upper right corner.


</p>


<p>
	<div>
		<h2 class="title">Technical information</h1>
		<div class="clearfix"></div>
	</div>

	Since the service is not yet considered "live", this page has a low priority. Most questions are hopefully answered on the <a href="https://github.com/projectcs13/sensor-cloud/wiki">GitHub wiki</a>. That information is of a more technical kind. If these brief points are not enough help, our best suggestion is to simply play around with the service.
</p>

