<% provide(:title, 'Security') %>

<div class="page-header">
	<h1 class="title">Security</h1>
	<div class="clearfix"></div>
</div>

<p>

	<div>
		<h2 class="title">Warning</h1>
		<div class="clearfix"></div>
	</div>

	This website is under heavy development at the moment, so we can not guarantee that your data is safe. The database is still subject to changes, which means that anything stored can be removed at any time for the purpose of improving our service, with out any notice. Please, use it at your own risk.


</p>



<p>
	<div>
		<h2 class="title">Bugs</h1>
		<div class="clearfix"></div>
	</div>

	Want to report a bug? Please use the issue tracking system of our <a href="https://github.com/projectcs13/sensor-cloud/wiki">GitHub wiki</a>. We will try to solve the issue as soon as possible.
</p>



<p>
	<div>
		<h2 class="title">Technical information</h1>
		<div class="clearfix"></div>
	</div>

	Since the service is not yet considered "live", this page has a low priority. Most questions are hopefully answered on the <a href="https://github.com/projectcs13/sensor-cloud/wiki">GitHub wiki</a>. That information is of a more technical kind. If these brief points are not enough help, our best suggestion is to simply play around with the service.
</p>

