<% provide(:title, 'Terms of Service') %>

<div class="page-header">
	<h1 class="title">Terms of Service</h1>
	<div class="clearfix"></div>
</div>

<p>

	<div>
		<h2 class="title">Warning</h1>
		<div class="clearfix"></div>
	</div>

	This website is under heavy development at the moment, so we can not guarantee that your data is safe. The database is still subject to changes, which means that anything stored can be removed at any time for the purpose of improving our service, with out any notice. Please, use it at your own risk.


</p>


