<div class="tos">
	<!-- <h3>ENABLER SPECIFIC TERMS OF USE (NON-COMMERCIAL)</h3> -->
	<h3>IoT-FRAMEWORK LICENSE AGREEMENT</h3>
	<br>


		<p>ANY PERSON OR ENTITY ("User") THAT DOWNLOADS AND/OR USES THE ERICSSON RESEARCH IoT FRAMEWORK API (“Enabler”) AGREES TO AND IS BOUND BY THE FOLLOWING TERMS AND CONDITIONS (the "Agreement").</p>

		<p>This Agreement is a legal agreement between the User and Ericsson AB ("Ericsson") regarding the use of the Enabler. By downloading and/or using the Enabler and the content provided, the User agrees to be bound by the terms of this Agreement. If the User does not agree to the terms of this Agreement, its sole recourse is to not download, nor use the Enabler.</p>

		<p>Before the User proceeds with download and/or use of the Enabler, the User should read the document comprising the terms of this Agreement and print or save a local copy for its records.</p>

		<p>The Enabler is experimental in nature, in testing phase, and not released for commercial distribution. The User may only use the Enabler as set out in this Agreement.</p>

	<br>


		<h4>Grant of license</h4>

		<p>Subject to this Agreement, Ericsson gives the User a personal, non-assignable, non-transferrable, non-sublicensable and non-exclusive license to use the Enabler as provided by Ericsson for the limited purposes of creating and testing applications and making applications available free of charge to end-users for testing purposes. The Enabler may only be used for testing purposes and may not be used for commercial purposes including permanent, large-scale deployments to open or closed user-groups. If you are in doubt whether or not your application or service constitutes commercial use according to this Agreement please contact <a href="mailto:iot-framework-support@ericsson.com">iot-framework-support@ericsson.com</a>.</p>

	<br>


		<h4>Functionality</h4>

		<p>The User expressly confirms that the User is aware, understands and agrees that:</p>

		<ul>
			<li>the Enabler is experimental in nature, is still in concept development phase and is only made available for testing and feedback purposes;</li>

			<li>the Enabler is made available "as is" with no warranty of any kind and the User uses the Enabler at its own risk, and Ericsson shall have no liability for any damages of any kind caused by any means whatsoever;</li>

			<li>Ericsson may at any time modify or discontinue availability of the Enabler without any notification and with no liability in relation to any user of the Enabler;</li>

			<li>User is solely responsible for (if relevant) any access and communication charges (e.g. data traffic charges) that might be incurred using the Enabler (including APIs);</li>

			<li>Ericsson shall be entitled to store and handle User’s particulars (sw "personuppgifter");</li>

			<li>When the User actively participates and provides comments, suggestions, data, or other information to Ericsson (collectively "Information"), Ericsson shall have the right to retain and use any such Information in current or future products or services, without further compensation to you. To the extent such Information is protectable under intellectual property laws, you agree to cooperate with Ericsson as needed to obtain use right and such protection as Ericsson may desire and you agree to assign your rights to such Information to Ericsson</li>
		</ul>

	<br>


		<h4>Information collection and monitoring</h4>

		<p>Ericsson will store the User information describing the owner of each sensor (first name, last name, email, password). The information will be recorded by a sensors and related metadata, i.e. Tags describing the information recorded.</p>

		<p>Ericsson will use recorded information to test our own algorithms for the purposes of research. Ericsson will not use stored information for commercial purposes. No information will be forwarded to any company outside the Ericsson group.</p>

		<p>Ericsson reserves the right to monitor, log, analyze and review any and all usage of the API and associated services.</p>



		<h4>Sublicensing</h4>

		<p>The User may not sell, lease or sublicense the Enabler, access thereto, or access to data that the User has obtained through the Enabler without Ericsson's prior, express, written permission.</p>
	<br>


		<h4>Request Volumes</h4>

		<p>You may not use the Enabler in a manner that exceeds reasonable request volumes, constitutes excessive or abusive usage, or otherwise fails to comply or is inconsistent with any part of the Terms of Use and Privacy Policy of Ericsson Labs, as determined by Ericsson in its sole discretion and you may in no event use the Enabler for more than …. (Applicable?).</p>



		<h4>END-USER SERVICES</h4>

		<p>It is the responsibility of the User that any end-user services and/or applications comply with applicable laws and regulations, including data protection laws and with all relevant codes of conduct, consumer protection regulations and with ethics and moral standards. The User must ensure that no end-user services and/or applications are directed to end-users without approval from the end-user and that no unsolicited content is sent to end-users.</p>

	<br>


		<h4>USE OF DATA</h4>

		<p>The User has no right whatsoever to use end-user information (including without limitation location data) received in connection with the service developed using the Enabler for anything but for the purpose of this Agreement.
		The User may not transmit end-user information (including without limitation location data) to any third party.</p>

	<br>


		<h4>Responsibility for content and code of conduct</h4>

		<p>User agrees not to attempt to damage, deny service to, hack, crack, reverse-engineer, or otherwise interfere with the Enabler. User agrees to fully indemnify Ericsson for any and all costs and damages including but not limited to any indirect and consequential damages, that may arise as a result of such interference or any other acts by User.</p>

	<br>


		<h4>Modification of the enabler</h4>

		<p>Ericsson reserves the right to, at any time and from time to time, modify the Enabler (or any part thereof e) with or without notice. Ericsson shall not be liable to User or any third party for any modification, suspension or discontinuance of the Enabler.</p>

	<br>


		<h4>Permits, consents and compliance with legislation</h4>

		<p>User warrants and represents that:</p>
		<ul>
			<li>User shall comply to any applicable legislation, regulations and generally accepted industry codes related to User’s activities related to the use of the Enabler and Information  including but not limited to market-, consumer-, personal data- and e-commerce legislation and regulations, all to the extent applicable; and</li>

			<li>all necessary licenses and consents (including but not limited to owners of  personal data and end-users in relation to services requiring positioning) have been obtained by User to use the Enabler and/or Information or to be engaged in related activities.</li>
		</ul>

		<p>In case of breach of any of the above warranties, the User shall at its own cost promptly correct such breach. Further, the User shall be liable towards Ericsson for any damages incurred due to such breach.</p>

		<p>In the event that the User does not promptly correct any breach, Ericsson shall in addition to other remedies be entitled, either by itself or through a third party, to make necessary corrections, at the User’s expense.</p>

	<br>


		<h4>Disconnection etc.</h4>

		<p>Ericsson may, at its sole discretion, at any time with no liability or obligation, terminate the User's license to use the Enabler, suspend and/or disconnect any and all services developed by the User using resources accessible through the Enabler.</p>

	<br>


		<h4>Copyright, intellectual property rights and trademarks</h4>

		<p>The Enabler any information accessible through the Enabler, is protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties.</p>

		<p>All title and copyrights in and to the Enabler are owned by Ericsson or its suppliers. All title and intellectual property rights in and to the content which may be accessed through use of the Enabler is the property of the respective content owner and also may be protected by applicable copyright or other intellectual property laws and treaties.</p>

		<p>User acknowledges that "ERICSSON ///" is the corporate trademark of Telefonaktiebolaget LM Ericsson and that both "Ericsson" and the figure "///" are important features of the trade names of Ericsson. Nothing contained in these terms and conditions shall be deemed to grant User any right, title or interest in the word "Ericsson" or the figure "///".</p>

	<br>




		<h4>Limitation of Liability</h4>

		<p>ERICSSON AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, LACK OF VIRUSES OR OTHER HARMFUL COMPONENTS AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS MADE AVAILABLE UNDER THIS AGREEMENT. ALL SUCH INFORMATION, SOFTWARE, SERVICES, RELATED GRAPHICS AND THE ENABLER ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. ERICSSON AND/OR ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE ENABLER, INFORMATION PROVIDED IN RELATION TO THE ENABLER, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, TITLE AND NON-INFRINGEMENT.</p>

		<p>ERICSSON SHALL NOT BE RESPONSIBLE FOR UNAUTHORIZED ACCESS TO OR ALTERATION OF TRANSMISSIONS OR DATA, ANY MATERIAL OR DATA SENT OR RECEIVED OR NOT SENT OR RECEIVED, OR ANY TRANSACTIONS ENTERED INTO USING THE ENABLER. ERICSSON IS NOT RESPONSIBLE OR LIABLE FOR ANY THREATENING, DEFAMATORY, OBSCENE, OFFENSIVE OR ILLEGAL CONTENT OR CONDUCT OF ANY OTHER PARTY OR ANY INFRINGEMENT OF ANOTHER'S RIGHTS, INCLUDING INTELLECTUAL PROPERTY RIGHTS. ERICSSON IS NOT RESPONSIBLE FOR ANY CONTENT SENT USING AND/OR INCLUDED IN AN ERICSSON SERVICE BY ANY THIRD PARTY.</p>

		<p>IN NO EVENT SHALL ERICSSON AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE ENABLER, WITH THE DELAY OR INABILITY TO USE THE ENABLER OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED UNDER THIS AGREEMENT OR OTHERWISE ARISING OUT OF THE USE OF THE ENABLER, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF THE USER HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. IF A USER IS DISSATISFIED WITH THE ENABLER, OR WITH ANY OF THESE TERMS OF USE, SUCH USERS SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE ENABLER.</p>



		<h4>Term</h4>

		<p>This agreement shall remain in force for as long the User is registered ("Term") starting from the date of registration.</p>

		<p>Notwithstanding the foregoing Ericsson shall be entitled to at any time during the Term immediately terminate this Agreement, access to the Enabler and the use of any service, tool and documentation included or associated with the Enabler.</p>



		<h4>Governing law</h4>

		<p>This Agreement shall be governed by and construed in accordance with the laws of Sweden (excluding its conflict of laws provisions).</p>

</div>

<div>
	<input type="checkbox" id="tos-agree" />
	<p style="display:inline;">I agree with these terms of service</p>
</div>
