<div class="resource_box">
  <h1 class="title">Create Streams</h1>
  <div class="clearfix"></div>

  <div class="col-md-4 left">
    <%#= stream_fields.label :type %>
  </div>

  <div id="forms">
    <%= form_for @multistream do |f| %>
    <%#= form_for (@multistream, :remote => true) do |f| %>
      <%= fields_for @multistream.streams do |stream_fields| %>
        <%= streams_fields.text_field :name %>
      <div class="clearfix"></div>
      <% end %>
      <%= f.submit "Create streams" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.form').first().removeClass('hidden');
</script>



