<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>

	<div class="stream-description well"><%#= @user.description %>This is a placeholder for the actual user description</div>
</div>
