<%= form_tag url_for(controller: "relationships", action: "create"), remote: true do %>
	<div><%= hidden_field_tag 'followed_id', @stream_id %></div>
	<%= submit_tag "Follow", class: "btn btn-lg btn-primary" %>
<% end %>
