<% unless current_user?(@stream_owner) %>
	<div id="follow_form">
		<% if User.following?(current_user.username, @stream.id) %>
			<%= render 'unfollow' %>
		<% else %>
			<%= render 'follow' %>
		<% end %>
	</div>
<% end %>
