<header>
  <h4 class="step-label left"></h4>

  <%= render 'form_buttons' %>

  <div class="clearfix"></div>

  <strong>
    <p class="step-description"></p>
  </strong>

  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="background-color: #5cb85c; width: 0%"></div>
  </div>

  <hr>
</header>
