<div class="row main">
  <% if @streams == [] then %>
    <% if @user.username == params[:id] then %>
      <h4> You currenlty have no streams</h4>
    <% else %>
      <h4> <%= params[:id]%> currently have no streams </h4>
    <% end %>

  <% else %>
    <div class="col-md-4 left">
      <%= render 'streams_content_list' %>
    </div>

    <div class="map col-md-8 right-side-content">
      <%= render 'streams_content_map' %>
    </div>
  <% end %>
<div>
