<%= form_tag url_for(controller: "relationships", action: "destroy"), remote: true do %>
	<div><%= hidden_field_tag 'followed_id', @stream_id %></div>
	<%= submit_tag "Unfollow", class: "btn btn-lg" %>
<% end %>
