<div class="left">
	<label>Streams list</label>
	<ul id="streams_list" class="list-group left">
		<% @streams.each do |s| %>
	  <li class="list-group-item">
	  	<input type='checkbox' />
	    <span><%= s.type %></span>
	  </li>
		<% end %>
		<li class="list-group-item">
	    <span>add stream</span>
	  </li>
	</ul>
<div>

<% @streams.each do |s| %>
  <% @stream = s %>
  <div class="col-md-6">
  	<%= render 'form' %>
  </div>
<% end %>
