<h1>New stream</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="login-form">
    <%= form_for([@resource, @stream]) do |f| %>

    <%= render 'fields', f: f %>

    <div id="btn-create" class="btn btn-primary">Create a stream</div>
    <%= f.submit "Create", class: "btn btn-primary hidden", id: "submit" %>
    </div>
    <% end %>
  </div>
</div>
