<div class="resource_box">
  <h1 class="title">Create Streams</h1>
  <div class="clearfix"></div>

  <div class="col-md-5 left">
  	<label>Resource's Model</label>
  	<input type="text" class="form-control" id="resource_model">
    <br>
  	<div class="clearfix"></div>

  	<label>Streams list</label>

    <ul id="streams_list" class="list-group">
        <li class="list-group-item">
          <h4 class="left"><%#= stream.name %>stream.name</h4>

          <div class="right">
            <i class="show-details glyphicon glyphicon-chevron-down right"></i>

            <div class="btn btn-sm btn-primary right">
              <%#= link_to 'View', stream_path(stream.id), class: "glyphicon glyphicon-pencil" %>
            </div>
          </div>
          <div class="clearfix"></div>
  	</ul>
  </div>

  <div class="col-md-6 right">
    <%# render 'form' %>
  </div>
</div>
