<div class="resource_box">
	<label for="resource_model">Model</label>
	<input type="text" class="form-control" id="resource_model">

	<div class="clearfix"></div>
	<label for="streams_list">Streams list</label>
	<div id="streams_list">
	</div>
</div>
