<div class="row main">
  <% if @vstreams.empty? then %>
    <% unless current_user.nil? %>
      <% if current_user.username == params[:user_id] %>
        <h4> You currently have no streams</h4>
      <% else %>
        <h4> <%= params[:user_id]%> currently have no streams </h4>
      <% end %>
    <% end %>

  <% else %>
    <div class="col-md-4 left">
      <div class="scroll-pane" id="scroll-pane1">
        <%= render 'layouts/vstreams/content_list' %>
      </div>
    </div>
    <div class="map col-md-8 right-side-content">
      <%= render 'layouts/vstreams/content_map' %>
    </div>
  <% end %>
<div>

