<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwrjTHAuOL2MG_bEC--E-hYSqn8GC2R8c&sensor=false" ></script>

<script>
  function initialize() {
    var map_canvas = document.getElementById('map-canvas');
    var map = new google.maps.Map(map_canvas);
  }
</script>

<div id="multiline-graph"></div>

<div class="tab-content">
  <div class="tab-pane fade" id="graph">
    <div id="multiline-graph"></div>
  </div>
</div>
