    <section class="margin">
        <div class="page-header">
            <h1>My Resources</h1>
        </div>

        <aside class="categories">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title cat-header-label">Categories</h3>
                    <button type="button" class="btn btn-primary cat-header-btn">Add Category</button>
                    <div class="clear"></div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Category 1</li>
                        <li>Category 2</li>
                        <li>Category 3</li>
                        <li>Category 4</li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="resources">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
