<div class="row">
  <h1>Create a Resource</h1>
  <div class="col-md-6 col-md-offset-3 login-form">
    <div class="clearfix"></div>
		<div id="my_form">
			<%= render 'form_new' %>
		</div>
  </div>
</div>
