<h1 class="title">Add New Resource</h1>

<%= render 'form' %>
<!--
<div class="actions">
  <%= link_to 'Add Resource', resources_path(@resource), method: :create, class: "btn btn-primary" %>
  <%= link_to 'Cancel', @resource, class: "btn btn-default" %>
</div>
-->

