$('#streams #scroll-pane1').append("<span data-page=<%=@page_number%>>"+"<%=escape_javascript(render('searches/stream_results'))%>"+"</span>");
	setupButtons();
	map_init();
//$('#users #scroll-pane1').append("<%=escape_javascript(render('searches/user_results'))%>")