<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwrjTHAuOL2MG_bEC--E-hYSqn8GC2R8c&sensor=false" ></script>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#map" data-toggle="tab">Map</a></li>
  <li><a href="#graph" data-toggle="tab">Graph</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id="graph">
    <div id="multiline-graph"></div>
  </div>
  <div class="map tab-pane active fade in" id="map">
    <div id="map-canvas"></div>
  </div>
</div>
