$dark_blue: #135B87;
$light_blue: #A0BFDE;
$dark_grey: #444455;
$light_grey: #555555;
$light_orange: #ED8540;
$dark_orange: #ED6040;


.axis path,
.axis line pline{
  fill: none;
  stroke: $dark_grey;
}

.axis text {
  fill: $dark_grey;
}
.labels text{
  font-size: 10px
}

.x.axis path {
 
}
.prediction {

}

.prediction-80 {
  fill: $light_grey;
background-color: $light_grey;
}

.prediction-95 {
  fill: $light_orange;
background-color:$light_orange;
}

.line {
  fill: none;
  stroke: $dark_blue;
  stroke-width: 1.5px;
}

.prediction-line {
  fill: none;
  stroke: $dark_orange;
  stroke-width: 1.5px;
}

.p-area-95 {
  fill: $light_blue;
  opacity: 0.3;
}
.p-area-80 {
  fill: $light_grey;
  opacity: 0.3;
}

.datapoints {
  fill: $light_blue;
	stroke: $dark_blue;
  stroke-width: 1px;
}

.pdatapoints{
  stroke: $dark_orange;
  stroke-width: 1px;
  fill: $light_orange;
}

.delimiter{
  stroke:$light_grey;
}
