$primary_color: #135B87;
$secondary_color: #A0BFDE;

.axis path,
.axis line pline{
  fill: none;
  stroke: $primary_color;
  
}

.axis text {

  fill: $primary_color;
  
}

.x.axis path {
 
}

.line {
  fill: none;
  stroke: $primary_color;
  stroke-width: 1.5px;
}

.p-line {
  fill: none;
  stroke: #ff0000;
  stroke-width: 1.5px;
}

.p-area-95 {
  fill: #ff0000;
  opacity: 0.3;
  :hover {
  fill: #4C83BA;
  }
}
.p-area-80 {
  fill: #555555;
  opacity: 0.3;
  :hover {
  fill: #4C83BA;
  }
}

.datapoints {
  fill: $secondary_color;
	stroke: $primary_color;
  stroke-width: 2px;
  :hover {
  fill: #135B87;
  }
}
.p-datapoints{
  stroke: #ff3333;
  stroke-width: 2px;
  fill: #ffbbaa;
}

.delimiter{
  stroke:#000000;
}