/* mixins, variables, etc. */

@import 'variables';

$grayMediumLight: #eaeaea;
$grayLighter: #eee;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 120px;
}

body.homepage {
/*  background: url('http://images.cdn.fotopedia.com/BJGsMXqQnoA-uugFhQX5L3k-ifill_1024x768.jpg') no-repeat center center fixed; */
  background: url('http://4.bp.blogspot.com/-GRLQAHTM1f0/T-LoxfCivWI/AAAAAAAACGo/RzCKabaaFWA/s1600/159.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parent {
  position: relative;
  min-height: 100%;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
	//color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


#name img {
	width: 30px;
	height: 30px;
}

/* footer */

#container {
	min-height: 100%;
	position:relative;
}

body {
	padding-bottom: 96px; /* Height of the footer + 20px */
}

footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 76px; /* Height of the footer */
}

/*
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
*/

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		//border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
			margin-left: 15px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

/* forms */

/*
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}
*/

#login-form {
	background-color: white;
	padding: 40px;
	border: 1px solid $custom-grey;
	border-radius: 6px;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.form-button {
	margin-bottom: 15px;
}
/* ... */

.left  { float: left;  }
.right { float: right; }

.margin {
  padding: 0 15%;
  margin: 0 auto;
}

.avatar-small {
  height: 28px;
  width: 28px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.categories {
  float: left;
  width: 25%;
}

  .cat-header-label {
    float: left;
    line-height: 32px;
  }

  .cat-header-btn {
    float: right;
    padding: 5px 12px;
  }

.title {
  @extend .left;
}

.resources {
  float: right;
  /* width: 75%; */
  width: 100%;
}

.table thead > tr > th {
  padding-bottom: 9px;
}

.global-nav .search-input {
  display: block;
  width: 163px;
  height: 14px;
  padding: 6px 27px 6px 12px;
  font-size: 12px;
  line-height: 1;
  color: #666;
  background-color: #ccc;
  border: 0;
  border-radius: 13px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer {
  background: $custom-blue-dark;
  border-top: 1px solid darken($custom-blue-dark, 6.5%);

  color: white;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $custom-greyish-blue;
    }
  }

  display: block;
  position: absolute;
  bottom: 0;

  text-align: center;
  padding: 2em 0;

  height: 76px;
  width: 100%;

  .footer-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 0;
    /* line-height: 5em; */
  }

  .footer-links li {
    display: inline-block;
    line-height: 16px;
    margin-left: 40px;
  }

  .footer-links li:first-child {
    margin-left: 0;
  }

  .footer-logo {
    display: inline-block;
    text-align: center;
    width: 400px;
  }

  .footer-logo img {
    width: 160px;
  }

  .footer-logo-caption {
    padding-top: 1em;
  }
}
input.search-query {
    padding-left:26px;
}

.form-group {
	.row {
		margin-right: 0;
	}
}

.search-results {
	ul {
		list-style-type: none;
	}
	.search-result {
			border-bottom: 1px solid #cccccc;
		 .last-update {
			 color: #999999;
			 font-size: 12px;
		 }
	}
	.search-results-stats {
		margin-top: 20px;
		margin-bottom: 10px;
		li {
			display: inline;
			margin-left: 15px;
		}
	}
}

.search-results-bar {
	margin-top: 20px;
	margin-bottom: 10px;
}

.number-results-found {
	font-weight: bold;
}

.search-header {
	h2 {
		text-align: left;
		margin-left: 10px;
	}
}

.btn .glyphicon {
  color: white;
}

.search-bar-header {
	position: relative;
	top: 10px;
	.btn {
		margin-left: 10px;
	}
}

.sidebar-filter {
	h2 {
		text-align: left;
		margin-left: 10px;
	}
}

.home-box {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(86, 61, 124, 0.75);
    border: 1px solid rgba(86, 61, 124, 0.2);
}
