.list_carousel {
	
	width: 100%;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 17px;
    color: #666;
    text-align: center;
    background-image:url('blue_cloud.svg');
    background-repeat:no-repeat;
    width: 220px;
    height: 125px;
    padding: 5;
    margin: 6px;
    display: block;
    float: left;
}
.clearfix {
    float: none;
    clear: both;
}

/* ... */

#wrapper {
    width: 735px;
    height: 220px;
    margin: 50px 0 0 -367px;
    position: absolute;
    left: 50%;
    top: 50%;
}
 
#carousel {
    width: 735px;
    position: relative;
}
#carousel ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
#carousel li {
    /*background: transparent url(carousel_polaroid.png) no-repeat 0 0;*/
    font-size: 40px;
    color: #999;
    text-align: center;
    display: block;
    width: 232px;
    height: 178px;
    padding: 0;
    margin: 6px;
    float: left;
    position: relative;
}
 
#carousel li img {
    width: 201px;
    height: 127px;
    margin-top: 14px;
}
/* 
#carousel li span {
    background: transparent url(carousel_shine.png) no-repeat 0 0;
    text-indent: -999px;
    display: block;
    overflow: hidden;
    width: 201px;
    height: 127px;
    position: absolute;
    z-index: 2;
    top: 14px;
    left: 16px;
}           
*/ 
.clearfix {
    float: none;
    clear: both;
}
#carousel .prev, #carousel .next {
    background: transparent url(carousel_control.png) no-repeat 0 0;
    text-indent: -999px;
    display: block;
    overflow: hidden;
    width: 15px;
    height: 21px;
    margin-left: 10px;
    position: absolute;
    top: 70px;              
}
#carousel .prev {
    background-position: 0 0;
    left: -30px;
}
#carousel .prev:hover {
    left: -31px;
}           
#carousel .next {
    background-position: -18px 0;
    right: -20px;
}
#carousel .next:hover {
    right: -21px;
}               
#carousel .pager {
    text-align: center;
    margin: 0 auto;
}

#carousel .selected {
    background-color: #ffffff !important;
}

#carousel .pager a {
    background: transparent url(carousel_control.png) no-repeat -2px -32px;
    text-decoration: none;
    text-indent: -999px;
    display: inline-block;
    overflow: hidden;
    width: 8px;
    height: 8px;
    margin: 0 5px 0 0;
}
#carousel .pager a.selected {
    background: transparent url(carousel_control.png) no-repeat -12px -32px;
    text-decoration: underline;             
}
 
#source {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
}
#source, #source a {
    font-size: 12px;
    color: #999;
}