@import "variables";
@import "bootstrap";
@import "custom";
@import "chart";
@import "resources";
@import "contacts";
@import "searches";
@import "sessions";
@import "static_pages";
@import "streams";
@import "tags";
@import "users";

@font-face {
  font-family: 'logo-font';
  src:url('ericssoncapital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}