// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resources-sidebar {
  float: left;
  width: 40%;
}

  .input-group {
    margin-bottom: 1em;
  }

  .input-group-addon {
    width: 9em;
  }

  .input-group-addon label {
    margin-bottom: 0;
    font-weight: normal;
  }


.resources-streams {
  /*
  @extend .panel;
  @extend .panel-default;
  */
  float: right;
  width: 60%;
}

.resources-streams-header {
  @extend .panel-heading;

}

.resources-streams-body {
 @extend .panel-body;

 padding: 0;
}

.resources-stream {
  padding: 15px 10px;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
