// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resources-sidebar {
  float: left;
  width: 40%;
}

  .input-group {
    margin-bottom: 1em;
  }

  .input-group-addon {
    width: 9em;
  }

  .input-group-addon label {
    margin-bottom: 0;
    font-weight: normal;
  }

  .highlight {
    background-color: #cc77aa
  }


.resources-streams {
  /*
  @extend .panel;
  @extend .panel-default;
  */
  float: right;
  width: 60%;
}

  .resources-streams-header {
    @extend .panel-heading;
  }

  .resources-streams-body {
   @extend .panel-body;
   padding: 0;
  }

  .resources-stream {
    padding: 10px 20px;
    list-style: none;
    border-bottom: 1px solid #dddddd;
  }

  .resources-stream:last-child {
    border-bottom: 0;
  }

    .resources-stream .col-md-6 {
      padding: 0;
    }

.form-control.half {
  width: 25% !important;
  float: left;
}

.form-control.half:first-child {
  margin-right: 5%;
}

ul {
  margin: 0;
  padding: 0;
}

.hotfix-update-freq {
  width: 26% !important;
  float: left;
}

.input-group-btn {
  float: left;
}

.title-label {
  font-weight: normal;
}

.stream-title {
  margin: 10px 0;
}

.button {
  @extend .btn;
  @extend .btn-primary;
  float: right;
  width: 12em;
  margin: 0.6em;
}

.btn.glyphicon {
  padding: 7px 12px 10px 10px;
}

.resources .glyphicon {
  margin-right: 10px;
}

.resources .glyphicon:first-child {
  margin-right: 0;
}
