@import 'variables';

.panel {
  margin-bottom: 0px;
  margin-top: 5px;
}
.search-graph {
	opacity: 0.3;
}
.selected {
  background-color: #cccccc !important; 
}

$colors: #4a786e, #d15868, #8b83ab, #e8b169, #eb4e23, #618c57, #612439;

@for $i from 1 through length($colors) {
    .selected#{$i} {
        color: nth($colors, $i);
        stroke: nth($colors, $i);
        fill: nth($colors, $i);
        &:hover {
            color: nth($colors, $i);
        }
    }
}
.no-data {
  color: $custom-blue;
}

.axis path,
.axis line pline{
  fill: none;
  stroke: $custom-grey-dark;
}
.line {
  fill: none;
  stroke: $custom-greyish-blue;
  stroke-width: 1.5px;
}
.stream-line {
  fill: none;
  //stroke: $custom-greyish-blue;
  stroke-width: 1.5px;
}
.area {
  fill: $custom-greyish-blue;
  stroke: $custom-greyish-blue;
  stroke-width: 1.5px;
}


li.search-result>div.row {
	position: relative;
	
}
.svg-back {
  background-color: #cccccc;
  fill: #cccccc;
  opacity:0.3;
}

.search-graph {
	position: absolute;
	top: 0;
	z-index:-1;
}



