@import 'variables';


.panel {
  margin-bottom: 0px;
  margin-top: 5px;
}
.search-graph {
	opacity: 0.3;
}
.selected {
  background-color: $custom-blue !important;
}

$colors: #4a786e, #d15868, #8b83ab, #e8b169, #eb4e23, #618c57, #612439;

@for $i from 1 through length($colors) {
    .selected#{$i} {
        color: nth($colors, $i);
        stroke: nth($colors, $i);
        fill: nth($colors, $i);
        &:hover {
            color: nth($colors, $i);
        }
    }
}
.no-data {
  color: #ffffff;
}

.axis path,
.axis line pline{
  fill: none;
  stroke: $custom-grey-dark;
}
.line {
  fill: none;
  stroke: $custom-greyish-blue;
  stroke-width: 1.5px;
}
.stream-line {
  fill: none;
  //stroke: $custom-greyish-blue;
  stroke-width: 1.5px;
}
.area {
  fill: $custom-greyish-blue;
  stroke: $custom-greyish-blue;
  stroke-width: 1.5px;
}

.svg-back {
  background-color: #cccccc;
  fill: #cccccc;
  opacity:0.3;
}

.search-graph {
	position: absolute;
	top: 0;
	z-index:-1;
}
.search-result {
  background-color: #FFFFFF;
}
.search-result:hover {
  background-color: #ebebeb;
}

.search-result .panel-heading{
  padding: 5px 5px 5px 15px;
  border: none;
  background-color: transparent;
}
.search-result .panel-body{
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  background-color: transparent;
}
.search-result-footer .last-update {
  font-size: 10px;
  position:relative;
  bottom: -5px;
  padding: 0;
  color: $custom-greyish-blue;
}

.search-result a {
  font-weight: 700;
  color: #8c8c8c;
}

.search-result .selected a {
  font-weight: 700;
  color: #ffffff;
}
.scroll-pane
{
  width: 100%;
  height: 550px;
  overflow: auto;
}

.input-group-btn {
  width: 0 !important;
  float: right !important;
}